.nav-item{
    padding: 0 10px;
}

.nav-log-out{
    position: static;
    width: 8rem;
    margin: 0.5rem;
}

.navbar-toggler{
    font-weight: 300;
    border-radius: 20px;
}

@include media-breakpoint-up(lg){
    .nav-log-out{
        position: absolute;
        right: 5%;
        width: 8rem;
    }
}
