/// colors
$primary-color-orange :#ff9f1c;
$primary-color-white : #fefdff;

//breakpoints
$screen-big : 1300px;
$screen-big-medium: 1100px;
$screen-medium: 645px;
$screen-medium-small : 450px;
$screen-small : 360px;

